* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --secondary-dark-blue: hsl(234, 12%, 34%);
    --secondary-grayish-blue: hsl(229, 6%, 66%);
    --secondary-light-gray: hsl(0, 0%, 98%);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FAFAFA;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 540px;
    margin-bottom: 50px;
}

.page-content h1 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    line-height: 54px;
    letter-spacing: .25px;
    color: var(--secondary-grayish-blue);
}

.page-content h2 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: .25px;
    color: var(--secondary-dark-blue);
    margin-bottom: 13px;
}

.page-content p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;   
    line-height: 25px;
    text-align: center;
    color: var(--secondary-grayish-blue);

}

.column-container {
    display: grid; 
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 3rem;
}

.card:nth-child(2) {
    margin-top: 2rem;
}

.card {
    width: 350px;
    height: 250px;
    border-radius: 0.5rem;
    padding: 2rem;
    position: relative;
    background: #FFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}

.card h3 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 4px;
}

.card p {
    font-size: .8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 25px;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-grayish-blue);
}

.card img {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

@media (max-width: 900px) {
    .container {
        height: auto;
        padding: 2rem;
    }

    .page-content {
        margin-top: 85px;
        width: 311px;
    }

    .page-content h1 {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .page-content h2 {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 10px;
        
    }

    .page-content p {
        font-size: 1rem;
        line-height: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    .card {
        width: 311px;
    }

    .column-container {
        grid-template-columns: 1fr;
    }
}
